@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter);
  --font-nb-international-pro: var(--font-nb-international-pro-subset),
    var(--font-nb-international-pro-full), "Arial";
}

@layer base {
  a {
    text-decoration-line: underline;
  }
}

body {
  background-color: pink;
  margin: 0;
  padding: 1em;
}
